# Build results
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio working folder
.vs/

# Rider IDE
.idea/

# ASP.NET
*.db
*.sqlite
*.log

# Logs
*.log

# Others
*.vsidx